options_filtered/
features_parquet/
daily_features_with_regimes.parquet
tuner_dir/
spy/
qqq/
__pycache__/
.ipynb_checkpoints/
*.pem
*.db
models/
tbills/
qqq_features_parquet/
spy_features_parquet/
*.parquet
venv
*.png
parquet/
artifacts/
.env
